{% extends "master.html.twig" %}

{% block meta %}
    {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
        "seo": extension.seo|default([]),
        "content": content|default([]),
        "urls": urls|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": request.defaultLocale|default('en')
    } %}
{% endblock %}

{% block content %}
    {% for article in content.articles %}
        <section class="my-img-card">
            <img src="{{ article.mainImage[0].url }}" alt="..."/>
            <a href="{{ sulu_content_path(article.url) }}">
                <h1>{{ article.title }}</h1>
            </a>
            {{ article.seoDesc|raw }}
            <div class="clearfix"></div>
        </section>
    {% endfor %}
{% endblock %}
