{% extends "master.html.twig" %}

{% block meta %}
    {% include "SuluWebsiteBundle:Extension:seo.html.twig" with {
        "seo": extension.seo|default([]),
        "content": content|default([]),
        "urls": urls|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": request.defaultLocale|default('en')
    } %}
{% endblock %}

{% block content %}
    {% for block in content.blocks %}
        <section class="my-img-card">
            <img src="{{ block.image[0].url }}" alt="..."/>
            <h1>{{ block.title }}</h1>
            {{ block.article|raw }}
            <div class="clearfix"></div>
        </section>
    {% endfor %}
{% endblock %}
