@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
    background-color: #dcdcdc;
}

body > .container {
    background-color: #fff;
}

header>nav {
    font-size: 2rem;
}

h1, a.nav-link {
    font-family: 'Amatic SC', cursive;
}

img {
    width: 100%;
}

#logo {
    width: auto;
    max-height: 20em;
}

header nav ul.nav {
    justify-content: space-evenly;
    margin-bottom: 20px;
}

section {
    padding: 15px 20px;
}

.carousel-item {
    max-height: 350px;
}

section>.row>div {
    background-color: #dcdcdc;
    background-clip: content-box;
}

section>.row>div:first-child {
    padding-right: 0;
}

section>.row>div:nth-child(2) {
    padding-left: 0;
}

.section-desc {
    padding: 8%;
}
